body {
    background-color: antiquewhite;
    margin:2rem auto 0;
}
#root{
    margin:0 auto;
    width:100%;
}
p, h2{
    margin:0;
}
.nav-tabs .nav-link{
    background-color:#fff;
}
#orderOptions .oo-wrap {
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0rem .25rem 1rem 0rem rgba(0, 0, 0, 0.17);
}

#orderOptions h2 {
    font-size: 1.125em;
    font-weight: 900;
}

#orderOptions hr {
    margin: 0;
    height: 1px;
    border-color: #BFC2C4;
    flex-grow: 1;
}

#orderOptions .selected {
    background: #f0f7ec;
    border: 2px solid #64a535;
    font-weight: 900;
}

#orderOptions .option-cat button {
    background: #fff;
    border: 1px solid #bfc2c4;
    border-radius: 6.25rem;
    text-align: center;
    height: 2.5rem;
    padding: .125rem .75rem;
    font-size: 1rem;
    font-family: korolev, arial, sans-serif;
    flex-grow: 1;
    line-height: normal;

}



#orderOptions button#favorites {
    width: auto;
}

#orderOptions button#submitBtn {
    background: #f76800;
    border-color: #f76800;
    border-radius: 4px;
    padding: 0;
    width: 100%;
    height: 2.938rem;
    font-size: 1.875rem;
}

#orderOptions #deliveryOptions button {
    height: 4rem;
    width: 100%;
    text-align: left;
    padding: 0 1.5rem;
}

#orderOptions .per-ship {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#orderOptions .save {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #006b00;
    text-align: right;
}

#orderOptions .more-info-link {
    font-size: .75rem;
}

#orderOptions .price-meal,
.price-access {
    font-size: 1.125rem;
}

#orderOptions .chf-pk-co {
    font-size: .75em;
    line-height: 1;
    border-radius: 1rem;
    background: var(--Background-background-bold, #006B00);
    padding: 0.125rem 0.625rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#addShakes .card-top {
    background: var(--Background-background-tertiary, #EFF6E4);
    padding: .5em 1em;
}

.option-label {
    font-size: 0.75rem;
    line-height: 1;
    text-wrap: nowrap;
    padding: .125rem 0.625rem;
    border-radius: 6.25rem;
    background-color: #006b00;
    text-align: center;
    margin-bottom:-.5rem;
    position: relative;
}






@media(max-width:375px) {
    #orderOptions .chf-pk-co {
        width: 100%;
    }
}

@media(min-width:768px) {
    #orderOptions h2 {
        font-size: 1.375rem;
    }

    #orderOptions .option-cat button {
        width: 10.5rem;
        flex-grow:0;
    }

    #orderOptions .chf-pk-co {
        width: 8.5rem;
        margin: 0 auto;
    }
}

@media(min-width:992px) {
    #orderOptions .chf-pk-co {
        width: 9rem;
    }
}

@media(min-width:1200px) {
    #orderOptions .oo-wrap {
        padding: 2rem 1.5rem;
    }
}